    body{
        width: 800px;
        margin: 0 auto;
        border: 1px solid black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }
    li{
        display: inline-block;
        text-align: center;
        width: calc(25%);
        font-size: 16px;
        font-weight: bold;
        border-right: 2px solid black;
        box-sizing: border-box ;
        padding-top: 10px;
    }
    li:hover{
        background-color: orange;
        color: white;
    }
    h1{
        background-color: black;
        color: white;
        font-size: 24px ;
       border-bottom: 12px solid orange;
        margin: 0;
        padding: 10px 0 0 20px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    ol{
        font-size: 0;
        padding: 0;
        margin: 0;
        border-bottom: 12px solid black;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 12px;
    }
    h2{
        color: orange;
        text-decoration: overline underline 2px;
        font-size: 15px;
        margin-left: 20px;
    }
    h3{
        font-style: bold;   
        font-size: 14px;
        overflow: left;
        margin: auto;
        border-bottom: 3px solid orange;
        margin-top: 10px;

    }
    article{
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        border-right: 2px;
        padding: 0 20px;
       border-right: 3px dotted orange;
    }
  
     img{
        width: 50%; 
        float: left;
        margin-right: 10px;
        margin-top: 20px;
        
    }
     section{
        padding: 20px 20px 20px 0 ;
     }
     
     p:last-child{
        clear: left;
     }
     article+article+article{
        width: 100%;
        border-top: 4px dotted orange;
        background-color: pink;
     }
     article+article{
        border-right: none;
     }
     article+article+article>p:last-child{
        clear: initial;
     }
     p.fl::first-line{
        color: orange;
     }