footer{
    background-color: rgb(163, 14, 14);
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}
body{
    color: white;
    background-image: url(fotos/fondo2.webp);
    font-size: 0px;
    margin: auto 0px;
}
h1{
    text-align: center;
    margin: auto;
    background-color: rgb(163, 14, 14);
    border-radius: 7px;
    font-size: 20px;
}
img{
    border: 2px solid white;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
ol{
    padding: 0%;
    width: 100%;
    margin: 50px auto;
    font-size: 16px;
    display: inline-block;
}
li{
    background-color: rgb(163, 14, 14);
    color: white;
    display: inline-block;
    text-align: center;
    width: calc(100%/6);
    padding: 10px 0px;
    border-radius: 7px;
    font-size: 18px;
}
h2{
    text-decoration: underline wavy rgb(146, 30, 30);
    text-align: center;
    font-size: 18px;
}
p{
    font-size: 16px;
}
h3{
    font-size: 19px;
    clear: both;
    margin-top: 20px;
}
img{
    float: left;
}
