
footer{
    background-color: rgb(163, 14, 14);
    color: white;
    text-align: center;
    font-size: 12px;
        
}
body{
    color: white;
    background-image: url(fotos/fondo2.webp);
    font-size: 0px;
    margin: 0 auto;
    background-attachment: fixed;
}
   
h1{
    color: white;
    font-size: 24px ;
    margin: 0;
    padding: 10px 0 0 20px; 
    background-color: rgb(163, 14, 14);
    text-align: center;
}
img{
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}
ol{
    padding: 0;
    margin: 0;
    font-size: 0;
}
li{
    background-color: rgb(163, 14, 14);
    color: white;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    text-align: center;
    width: calc(100%/6);
    font-size: 16px;
    font-weight: bold;
    border-right: 2px solid black;
    box-sizing: border-box;
}
li:hover{
    background-color: rgb(120, 3, 3);
    color: white;
}
h2{
    text-decoration: underline wavy 3px rgb(146, 30, 30);
    font-size: 20px;
    text-align: center;
}
p{
    font-size: 16px;
    margin-left: 30px;
    text-align: center;
}
img{
    float: left;
    text-align: center;
}
article{
    display: inline-block;
}

img{
    border: solid white 2px;
    margin-bottom: 40px;
    text-align: center;
    margin: auto;
}

#pelicula1{
   text-align: center;
   margin-bottom: 40px;
    margin-left: 450px;
}
#pelicula2{
   text-align: center;
   margin-bottom: 40px;
    margin-left: 200px;

}
#pelicula3{
    text-align: center;
    margin-bottom: 40px;
     margin-left: 200px;

}
#pelicula4{
    text-align: center;
    margin-bottom: 40px;
     margin-left: 650px;
  
}
#pelicula5{
    text-align: center;
    margin-bottom: 40px;
     margin-left: 200px;

}
img:hover{
    transform: scale(1.05);
}

