li{
    font-size: 40px;
    list-style: none;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-image: url(fondolinks.webp);
    font-size: 0px;
    margin: 0 auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
}
h1{
    font-size: 50px;
    color: rgb(255, 0, 0);
    margin-top: 150px;
    border: 2px solid rgb(255, 0, 0);
}
a:visited{
    color: crimson;
}
ol{
    margin-top: 85px;
}