li{
    text-align: center;
    font-size: 25px;
    list-style: none;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-color: black;
}
h1{
    font-size: 35px;
    text-align: center;
    color: rgb(255, 0, 0);
    margin-top: 100px;
    text-decoration: underline;
}
a:visited{
    color: crimson;
}